{% if page and page.has_other_pages() %}
<div class="pager">
  {% with link_txt = _('&laquo; Older Messages')|safe %}
    {% if next_url %}
    <a href="{{ next_url }}" class="older">{{ link_txt }}</a>
    {% else %}
    <span class="older inactive">{{ link_txt }}</span>
    {% endif %}
  {% endwith %}

  {% with link_txt = _('Newer Messages &raquo;')|safe %}
    {% if prev_url %}
    <a href="{{ prev_url }}" class="newer">{{ link_txt }}</a>
    {% else %}
    <span class="newer inactive">{{ link_txt }}</span>
    {% endif %}
  {% endwith %}
</div>
{% endif %}

